*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 221, 255);
}

/* NAV */

nav{
    display: flex;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-family: 'poppins';
    font-weight: 500;
}
.tltTOP{
    margin-top: 3px;
}
input[type="search"]{
    text-indent: 10px;
    height: 6vh;
    width: 15vw;
    outline: none;
    margin-left: 600px;
    font-style: italic;
    border: none;
    border-radius: 3px;
}
input[type="search"]:focus{
    transition: 0.3s;
    outline: 2px rgb(0, 185, 0) solid;
}
#enviar{
    margin-left: 5px;
    width: 7vw;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: blueviolet;
    font-weight: 900;
}
#enviar:hover{
    transition: 0.5s;
    color: rgb(169, 85, 247);
    cursor: pointer;
}

/* MAIN */

main{
    display: flex;
    margin-top: 10px;
    margin-left: 270px;
}
#form2{
    border-radius: 5px;
    width: 60vw;
    background-color: white;
    height: 70vh;
    box-shadow: 0 7px 10px black;
}
.tltM{
    border-radius: 5px 5px 0px 0px;
    background-color: blueviolet;
    color: white;
    font-family: 'poppins';
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
label{
    margin-left: 15px;
    font-family: 'Poppins';
}
input[type=text]{
    outline: none;
    border: none;
    width: 90%;
    text-indent: 5px;
    border-radius: 3px;
    border-bottom: 1px solid black;
    margin-left: 15px;
}
input[type=tel]{
    outline: none;
    border: none;
    width: 90%;
    text-indent: 5px;
    border-radius: 3px;
    border-bottom: 1px solid black;
    margin-left: 15px; 
}
input[type=datetime-local]{
    outline: none;
    border: none;
    width: 90%;
    text-indent: 5px;
    border-radius: 3px;
    border-bottom: 1px solid black;
    margin-left: 15px;
}
select{
    outline: none;
    font-size: 14px;
    border: none;
    width: 90%;
    font-family: 'Poppins';
    text-indent: 5px;
    border-radius: 3px;
    border-bottom: 1px solid black;
    margin-left: 15px;
}
#btn{
    margin-left: 300px;
    border: none;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px black;
    background-color: white;
    height: 30px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 5px;
}
#btn:hover{
    transition: 0.5s;
    cursor: pointer;
    background: linear-gradient(180deg, white, rgb(209, 209, 209));
    height: 35px;
    padding: 5px;
}
#resetar{
    float: right;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-family: 'Poppins';
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(109, 31, 181);
}
#resetar:hover{
    background: linear-gradient(180deg, rgb(109, 31, 181), rgb(97, 22, 167));
    transition: 0.5s;
    height: 35px;
    cursor: pointer;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(119, 33, 199);
    width: 100%;
    height: 10vh;
}
.tltBot{
    font-weight: lighter;
    color: white;
    font-size: medium;
    text-align: center;
    font-family: 'Poppins';
}
